@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  --color--primary: #ffaa01;
  --color--hero-image: #e7e7e9;
  --color--nav-link: #737c87;
  --color--hero-text: #132235;
  --color--section-header: #253344;
  --color--normal-text: #989fa7;
  --color--price: #999fa7;
  --color--icon-and-footer: #bababa;
  --color--product-name: #616a77;
  --color--product-description-header: #182639;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  position: relative;
  box-sizing: border-box;
  position: relative;
}

.button {
  padding-inline: 2.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  font-size: 1.6rem;
  outline: none;
  cursor: pointer !important;
  padding-block: 1.3rem;
  font-family: Inter !important;
  border: none;
  text-transform: uppercase;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.button--primary {
  background: var(--color--primary);
  color: white;
}

.button--primary:hover {
  background: white;
  color: var(--color--primary);
  border: 2px solid var(--color--primary);
}

@media screen and (min-width: 1024px) {
  .button {
    padding-block: 1.4rem;
    padding-inline: 3rem;
    line-height: 3rem;
  }
}

.section--header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  line-height: 4.8rem;
  color: var(--color--section-header);
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .section--header {
    font-size: 2.5rem;
    line-height: 5.2rem;
  }
}

.service {
  width: 320px;
  padding-top: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.service__icon {
  font-size: 4rem;
  margin-bottom: 0;
  color: #838383;
}

.service__title {
  font-weight: 700;
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: -7px;
  color: #364253;
  text-transform: uppercase;
}

.service__text {
  font-weight: 400;
  line-height: 1.9rem;
  font-size: 1.6rem;
  color: var(--color--normal-text);
}

@media screen and (min-width: 1024px) {
  .service {
    width: 300px;
    margin: 0;
  }

  .service__title {
    font-size: 1.4rem;
    margin-bottom: -10px;
  }

  .service__text {
    font-size: 1.4rem;
  }
}

.product {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  cursor: pointer;
}

.product__image {
  width: 100%;
  height: 320px;
  background: #ebebeb;
}

.product__name {
  line-height: 2.2rem;
  font-size: 1.7rem;
  font-weight: 800;
  color: #3b4958;
  text-transform: uppercase;
  margin-top: 46px;
  letter-spacing: 1px;
}

.product__price {
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--color--price);
  font-size: 1.5rem;
  margin-top: -11px;
}

@media screen and (min-width: 1024px) {
  .product {
    width: 230px;
    margin: 0;
  }

  .product__image {
    height: 230px;
  }

  .product__name {
    margin-top: 27px;
    font-size: 1.4rem;
  }

  .product__price {
    margin-top: 7px;
  }
}

.mobile-nav__header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--color--nav-link);
}

.mobile-logo {
  font-weight: 700;
  line-height: 3rem;
  font-size: 2.7rem;
  color: var(--color--primary);
  letter-spacing: 1px;
}

.bars {
  font-size: 3.5rem;
  line-height: 2rem;
  color: var(--color--nav-link);
}

.mobile-nav--links {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: white;
  top: 0;
  left: 0;
}

.mobile-list--item {
  padding-block: 2rem;
  border-bottom: 1px solid var(--color--nav-link);
  padding-inline: 2rem;
}

.mobile--link {
  color: var(--color--nav-link);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2.4rem;
  font-size: 1.6rem;
}

.mobile--link {
}

@media screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

.navbar-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar-desktop {
    display: grid;
    grid-template-columns: 20fr 60fr 20fr;
    padding-block: 2rem;
    border-bottom: 2px solid gainsboro;
    padding-inline: 2rem;
  }

  .desktop-nav--links {
    grid-column: 2/3;
    display: flex;
    justify-content: space-evenly;
  }

  .desktop-list--item {
  }
  .desktop--link {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2.4rem;
    font-size: 1.4rem;
    color: var(--color--nav-link);
    transition: 0.3s all;
  }

  .desktop--link:hover {
    color: var(--color--primary);
  }

  .desktop-search--area {
    grid-column: 3/4;
    align-self: center;
    justify-self: end;
  }

  .desktop-search--area input[type="text"] {
    border: none;
    outline: none;
    padding-block: 1rem;
    font-size: 1.7rem;
  }

  .search-icon {
    color: var(--color--nav-link);
    font-size: 1.7rem;
    cursor: pointer;
  }
}

.slide {
  width: 100%;
  height: 550px;
  background: url(./Images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 30px;
  transition: all 0.35s ease-out;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background: var(--color--hero-image);
  opacity: 0.3;
}

.back-arrow {
  position: absolute;
  left: 15px;
  top: 270px;
  font-size: 3rem;
  color: #070606;
  cursor: pointer;
}

.front-arrow {
  position: absolute;
  right: 20px;
  top: 270px;
  font-size: 3.4rem;
  color: #070606;
  cursor: pointer;
}

.hero--text {
  font-weight: 900;
  line-height: 4.5rem;
  font-size: 3rem;
  text-align: center;
  color: var(--color--hero-text);
  margin-bottom: 3.2rem;
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero--text-container {
  padding-top: 340px;
}

.hero--button-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .block {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero--text-container {
    padding-top: 270px;
  }

  .slide .button {
    cursor: pointer !important;
  }
}

.hot-sale-section {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.2rem;
  padding-block: 3rem;
  border-bottom: 2px solid gainsboro;
}

@media screen and (min-width: 1024px) {
  .hot-sale-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

.services-section {
  padding-block: 3rem;
  border-bottom: 2px solid gainsboro;
}

.services--tagline {
  font-weight: 400;
  color: var(--color--normal-text);
  line-height: 2.8rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 35px;
}
.services-container {
  display: grid;
  padding-top: 3.8rem;
  column-gap: 2rem;
  row-gap: 2.2rem;
  border-top: 2px solid gainsboro;
}

@media screen and (min-width: 1024px) {
  .services--tagline {
    font-size: 1.6rem;
  }

  .services-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-section {
  padding-block: 3rem;
  border-bottom: 2px solid gainsboro;
}

.product-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.2rem;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  padding-block: 1.2rem;
}

.copy-right {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--color--icon-and-footer);
  text-transform: capitalize;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  color: var(--color--icon-and-footer);
  font-size: 22px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .socials {
    justify-content: space-evenly;
    width: 18%;
  }
}

.about-section {
  padding-block: 3rem;
  border-bottom: 2px solid gainsboro;
}
.about--tagline {
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  color: var(--color--normal-text);
  font-size: 1.8rem;
  margin-bottom: 4.2rem;
}

@media screen and (min-width: 1024px) {
  .about--tagline {
    font-size: 1.5rem;
    margin-top: -14px;
    margin-bottom: 7rem;
  }
}

.about-image {
  width: 300px;
  height: 250px;
  background: #ebebeb;
  margin-left: auto;
  margin-right: auto;
  order: -1;
}

@media screen and (min-width: 1024px) {
  .about-image {
    margin: 0;
    width: 330px;
    height: 200px;
    order: 2;
  }
}

.mission {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}
.mission__title {
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--color--section-header);
}

.mission__text {
  font-weight: 500;
  line-height: 2.4rem;
  font-size: 1.5rem;
  color: var(--color--normal-text);
  margin-top: -12px;
}

@media screen and (min-width: 1024px) {
  .mission {
    margin: 0;
    align-self: start;
  }

  .mission__title {
    font-size: 1.5rem;
    margin-top: -2px;
  }

  .mission__text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.about__content-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 2.2rem;
}

@media screen and (min-width: 1024px) {
  .about__content-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
  }
}

.product-page-header-container {
  padding-block: 2rem;
  border-bottom: 2px solid gainsboro;
}

@media screen and (min-width: 1024px) {
  .product-page-header-container {
    padding-block: 0.5rem;
  }
}

.sort-container {
  margin-top: 3rem;
}

.sort {
  padding-block: 2rem;
  padding-inline: 2.3rem;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid gainsboro;
  outline: none;
  display: inline-block;
  width: 50%;
  color: var(--color--normal-text);
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.sort-tagline {
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--color--normal-text);
}

@media screen and (min-width: 1024px) {
  .sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }

  .sort {
    width: auto;
    margin: 0;
    font-size: 1.4rem;
    padding-block: 1.4rem;
  }

  .sort-tagline {
    text-align: right;
    font-size: 1.4rem;
  }
}

.divider {
  height: 2px;
  background: gainsboro;
  margin-top: 40px;
}

.description-container {
  padding-block: 40px;
  border-bottom: 2px solid gainsboro;
  padding-inline: 3rem;
}

.description-image {
  background: #ebebeb;
  width: 320px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.description-title {
  line-height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #1c2b3d;
  text-transform: uppercase;
}

.description-price {
  font-weight: 500;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: #7b838e;
  text-transform: uppercase;
}

.description-tagline {
  line-height: 2.4rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #344152;
}

.description-text {
  line-height: 2rem;
  font-weight: 500;
  color: var(--color--normal-text);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .description-container {
    display: grid;
    grid-template-columns: 55fr 45fr;
    column-gap: 40px;
  }

  .description-image {
    margin: 0;
    width: 550px;
    height: 300px;
    justify-self: end;
  }

  .description-title {
    margin-top: -3px;
  }
  .description-text {
    text-align: left;
    max-width: 440px;
    font-size: 1.2rem;
    margin-top: -7px;
  }
  .description-tagline {
    margin-top: -6px;
  }
}

.input {
  margin-bottom: 2rem;
  padding-inline: 1.6rem;
  padding-block: 1.7rem;
  border-radius: 7px;
  border: 1px solid var(--color--nav-link);
  outline: none;
  width: 100%;
}

.input::placeholder {
  font-size: 1.4rem;
}

.form-container {
  margin-top: 4rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.button--large {
  width: 100%;
  margin-bottom: 2rem;
}

.register-login {
  text-align: center;
  color: var(--color--primary);
  font-size: 1.5rem;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .form-container {
    width: 550px;
    margin-top: 100px;
  }

  .modal-form .form-container {
    width: 100%;
  }
}

/* Loader */

.spinner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 8px solid;
  border-color: lightblue;
  border-right-color: orange;
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

.spiner-container {
  display: flex;
  justify-content: center;
}

.cart {
  width: 40px;
  height: 40px;
  color: var(--color--primary);
  cursor: pointer;
}

.cart-container {
  position: fixed;
  right: 5%;
  top: 12%;
}

.cart-container p {
  position: absolute;
  top: 3px;
  right: 10%;
  font-size: 1.5rem;
  color: white;
  font-weight: 900;
}

.checkout-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.product-table {
  margin-top: 30px;
}
th {
  font-weight: 600;
  color: var(--color--hero-text);
  font-size: 1.5rem;
}

td {
  font-weight: 500;
  color: var(--color--nav-link);
  font-size: 1.3rem;
}

.checkout-region {
  margin-top: 50px;
  display: flex;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
}

.amount {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color--hero-text);
}

.dashboard {
  display: grid;
  grid-template-columns: 15fr 85fr;
  height: 75vh;
  padding-bottom: 2rem;
  border-bottom: 2px solid gainsboro;
  margin-top: 40px;
}

.navigation {
  height: 100%;
  background: #eeab24;
}

.dashboard-links .mobile-list--item {
  border: none;
}

.dashboard-links .mobile--link {
  color: white;
}
.dashboard .mobile--link:hover {
  color: var(--color--hero-text);
}
.active-link {
  color: var(--color--hero-text) !important;
}

.content-section {
  padding-inline: 4rem;
}

.product-row {
  cursor: pointer;
}

.product-row:hover {
  background: #e8f0f2;
}

.pages {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.floating-button {
  width: 40px;
  height: 40px;
  background: var(--color--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15%;
  bottom: 25%;
  border-radius: 50%;
  cursor: pointer;
}

.floating-icon {
  color: white;
  font-weight: 700;
  width: 25px;
  height: 25px;
}
